In [25]:
import pandas as pd
import seaborn as sns
from IPython.core.display import display, HTML

In [33]:
df = pd.read_csv('../shared-resources/portland_crime.csv', index_col=0, header=0)

# Cleanup

In [35]:
df = pd.read_csv('../shared-resources/portland_crime.csv', index_col='id', header=0)
if 'Unnamed: 0' in df.columns:
    del df['Unnamed: 0']
    df.to_csv('../shared-resources/portland_crime.csv')

In [36]:
df = df.dropna(how='any').copy()

# Joining Data

Let's add numerical information to our `major_offense_type` label in the Portland Crime database.

In [18]:
dfs_sentencing = pd.read_html('http://www.myoregondefenselawyer.com/criminal-charges/', header=0, index_col=0)

In [37]:
for i, df_sentencing in enumerate(dfs_sentencing):
    display(HTML('<H3>dfs[{}]</H3>'.format(i)))
    display(HTML(df_sentencing.to_html()))

In [42]:
display(HTML(pd.DataFrame([df.major_offense_type.value_counts()]).T.to_html()))