# Apartment Hunting

How might you approach the problem of recognizing a good deal from a bad deal?

Housing Markets are difficult to predict:
- Continually changing marketplace
- Many factors that play into one decision
- Different features have different values to renters/rentees

### 1. Formalize a Question

### 2. What information do we need/would be helpful to answer this question? Where do we find it?

### 3. What patterns do we see in the data? EDA

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('../shared-resources/AptData.csv')
df.describe(include='all')

,Unnamed: 0,available,bath,bed,cat,content,content_length,date,dog,feet,...,lastseen,lat,laundry,long,parking,price,smoking,time,title,wheelchair
count,5.966800e+04,59662,57955.000000,57955.000000,59668.000000,59668,59668.000000,59668,59668.000000,52002.000000,...,35194,56280.000000,54706,56280.000000,45358,5.960300e+04,59662.0,59668,59668,59662.0
unique,NaN,418,NaN,NaN,NaN,42098,NaN,172,NaN,NaN,...,57,NaN,5,NaN,7,NaN,NaN,32748,37617,NaN
top,NaN,2017-03-01,NaN,NaN,NaN,Manger Special: $100 off rent for the first 6...,NaN,2017-05-30,NaN,NaN,...,2017-05-31,NaN,w/d in unit,NaN,off-street parking,NaN,NaN,09:53:03,1 AND 2 BED AVAILABLE,NaN
freq,NaN,1714,NaN,NaN,NaN,326,NaN,763,NaN,NaN,...,1748,NaN,34855,NaN,14897,NaN,NaN,8,132,NaN
mean,6.049989e+09,NaN,1.283944,1.436287,0.715258,NaN,222.731632,NaN,0.667510,888.145417,...,NaN,45.518263,NaN,-122.628349,NaN,2.802600e+03,0.0,NaN,NaN,0.0
std,6.018319e+07,NaN,0.513810,0.934212,0.451295,NaN,119.112952,NaN,0.471109,2384.246357,...,NaN,0.134953,NaN,0.507698,NaN,1.253909e+05,0.0,NaN,NaN,0.0
min,5.920380e+09,NaN,0.000000,0.000000,0.000000,NaN,3.000000,NaN,0.000000,1.000000,...,NaN,27.939305,NaN,-124.018466,NaN,1.000000e+00,0.0,NaN,NaN,0.0
25%,6.001450e+09,NaN,1.000000,1.000000,0.000000,NaN,143.000000,NaN,0.000000,604.000000,...,NaN,45.504798,NaN,-122.687025,NaN,1.190000e+03,0.0,NaN,NaN,0.0
50%,6.042061e+09,NaN,1.000000,1.000000,1.000000,NaN,212.000000,NaN,1.000000,789.000000,...,NaN,45.519138,NaN,-122.668855,NaN,1.399000e+03,0.0,NaN,NaN,0.0
75%,6.096789e+09,NaN,1.500000,2.000000,1.000000,NaN,287.000000,NaN,1.000000,1000.000000,...,NaN,45.532877,NaN,-122.612359,NaN,1.795000e+03,0.0,NaN,NaN,0.0
max,6.162432e+09,NaN,5.000000,8.000000,1.000000,NaN,4573.000000,NaN,1.000000,528135.000000,...,NaN,48.287600,NaN,-71.104200,NaN,1.450150e+07,0.0,NaN,NaN,0.0

In [8]:
df.columns

Index(['Unnamed: 0', 'available', 'bath', 'bed', 'cat', 'content',
       'content_length', 'date', 'dog', 'feet', 'furnished', 'getphotos',
       'hasmap', 'housingtype', 'lastseen', 'lat', 'laundry', 'long',
       'parking', 'price', 'smoking', 'time', 'title', 'wheelchair'],
      dtype='object')

In [42]:
# drop duplicates
unique_data = df.drop_duplicates(keep='first')
unique_data.head()
# unique_data[unique_data.price.values<10000].price.hist(bins=50)

,Unnamed: 0,available,bath,bed,cat,content,content_length,date,dog,feet,...,lastseen,lat,laundry,long,parking,price,smoking,time,title,wheelchair
0,5920379702,2017-01-10,2.0,2.0,1,Moreland Crossing Apartments (Newly built in ...,542,2016-12-15,1,1105.0,...,NaN,45.463959,w/d in unit,-122.641516,street parking,2000.0,0.0,08:12:47,Free January Rent! 2 bed 2 bath 3rd floor cor...,0.0
1,5920392219,2017-01-10,2.0,2.0,1,Moreland Crossing Apartments (Newly built in ...,539,2016-12-15,1,1000.0,...,NaN,45.463959,w/d in unit,-122.641516,street parking,1895.0,0.0,08:20:47,Free January Rent! Second floor corner 2 bed 2...,0.0
2,5920927347,2017-01-06,1.0,1.0,0,Very Charming Vintage 1 Bedroom in the Remode...,172,2016-12-15,0,682.0,...,NaN,45.527883,w/d in unit,-122.637156,NaN,1275.0,0.0,14:09:54,Very Charming Vintage 1 Bedroom in the Remodel...,0.0
3,5920964541,2017-01-10,1.0,0.0,0,"Chic and Stylish Loft w/Huge Balcony, Great V...",180,2016-12-15,0,850.0,...,NaN,45.538254,w/d in unit,-122.668715,NaN,1345.0,0.0,14:38:07,Chic & Stylish Loft w/Huge Balcony and Great V...,0.0
4,5920994052,2016-11-18,2.0,2.0,1,NW Downtown Portland - Highly Desirable Alpha...,209,2016-12-15,1,1119.0,...,NaN,45.531204,w/d in unit,-122.699212,attached garage,2395.0,0.0,15:01:30,Alphabet District Condo! www.c21turner.com,0.0

### 4. What methods might we use to answer our question?

In [51]:
# input features -> predict price (cont variable)
# linear, log regress, neural, pca, forest
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

unique_data = unique_data[['bath', 'bed', 'feet', 'price']]
unique_data = unique_data.dropna()

X = unique_data.drop(['price'], axis=1)
y = unique_data.price

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .15, random_state = 100)

In [64]:
lr = LinearRegression()
lr.fit(X_train, y_train)

lr.score(X_test, y_test)

0.001564968326665306

### 5. How do we explain our results?